.ai_description {
  line-height: 1.5rem;
}

.ai_description h1, .ai_description h2, .ai_description h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ai_description ul {
  margin-left: 20px;
}

.ai_description p {
  margin-top: 10px;
  margin-bottom: 10px;
}